<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
  <p>Hello <%= @user.nome %>,</p>

  <% if @purpose == 'registrazione' %>
    <p>Thank you for registering! Here is your OTP code to complete the registration:</p>
  <% elsif @purpose == 'login' %>
    <p>To complete the login, please enter the following OTP code:</p>
  <% else %>
    <p>Your OTP code is:</p>
  <% end %>

  <h3><%= @otp_code %></h3>

  <p>Enter this code in the verification form to continue.</p>

  <p>Thank you,<br>The PlantTracker Team</p>
</body>
</html>
