<div class="about-container">
  <h1>Chi Siamo</h1>
  <p>Siamo tre studenti universitari appassionati di piante e di natura in generale. 
  Attraverso questo sito, offriamo consigli su come prenderci cura delle nostre piante per respirare un'aria migliore e godere di un ambiente più verde.</p>
</div>
