<div class="about-container">
  <h1>About Us</h1>
  <p>We are three university students passionate about plants and nature in general. 
  Through this site, we aim to offer advice on how to take care of your plants to breathe better air and enjoy a greener environment.</p>
</div>
