<div class="about-container">
  <h1>Chi Siamo</h1>
  <p>Siamo tre studenti universitari appassionati di piante e di natura in generale. 
  Attraverso questo sito, offriamo consigli su come prenderci cura delle nostre piante per respirare un'aria migliore e godere di un ambiente più verde.
  </p>
  <h1>Funzionalità Principali</h1>
  <p>Registrazione e accesso: Crea un account personale o come fioraio.<br>
  Esplora le piante: Scopri le caratteristiche dettagliate di ogni pianta.<br>
  Collezione personale: Aggiungi, gestisci e filtra le tue piante.<br>
  Vivai: Trova vivai vicini e prenota le piante disponibili.<br>
  Unisciti a PlantTracker oggi stesso e inizia a prenderti cura delle tue piante con facilità!
  </p>
</div>
