<div class="about-container">
  <h1>About Us</h1>
  <p>We are three university students passionate about plants and nature in general.  
  Through this website, we offer tips on how to take care of your plants to breathe cleaner air and enjoy a greener environment.
  </p>
  <h1>Main Features</h1>
  <p>Sign up and log in: Create a personal account or register as a florist.<br>
  Explore plants: Discover detailed characteristics of each plant.<br>
  Personal collection: Add, manage, and filter your plants.<br>
  Nurseries: Find nearby nurseries and reserve available plants.<br>
  Join PlantTracker today and start taking care of your plants with ease!
  </p>
</div>
