<div class="text-center my-5">
  <h1 class="display-3 home-title">HOME</h1>
  <div class="home-divider"></div>
</div>

<div class="container text-center my-5">
  <div class="row mb-3">
    <div class="col">
      <div href="#" class="home-link">Le mie Piante</div>
      <div class="home-divider-thin"></div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <div href="#" class="home-link">Esplora</div>
      <div class="home-divider-thin"></div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <div class="home-link">
      <%= link_to 'Vivai', vivai_path, class: 'home-link', aria: { current: 'page' } %>
      </div>
      <div class="home-divider-thin"></div>
    </div>
  </div>
</div>
