<div class="text-center my-5">
  <h1 class="display-3 home-title">HOME</h1>
  <div class="home-divider"></div>
</div>

<div class="container text-center my-5">
  <div class="row mb-3">
    <div class="col">
      <div class="nav-item">
        <%= link_to 'Esplora le piante', infoplants_path, class: 'nav-link' %>
      </div>
      <div class="home-divider-thin"></div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <div class="nav-item">
        <%= link_to 'le mie piante(al momento non funziona)', myplants_path, class: 'nav-link' %>
      </div>
      <div class="home-divider-thin"></div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <div class="nav-item">
        <%= link_to 'Vivai', nurseries_path, class: 'nav-link' %>
      </div>
      <div class="home-divider-thin"></div>
    </div>
  </div>
</div>
