

<div class="text-center my-5">
  <h1 class="display-3">FINTA HOME DI PLANTTRACKER</h1>
</div>

<div class="container text-center my-5">
  <div class="row mb-3">
    <div class="col">
      <a href="#" class="btn btn-outline-light btn-lg btn-block">Mie Piante</a>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <a href="#" class="btn btn-outline-light btn-lg btn-block">Esplora le Piante</a>
    </div>
  </div>
  <div class="row mb-3">
    <div class="nav-item">
      <%= link_to 'Vivai', vivai_path, class: 'nav-link active', aria: { current: 'page' } %>
    </div>
  </div>
</div>
