<header>
        <!-------------  HEADER DESKTOP  ------------->
        <div class="navbar">
            <a href="">
                <img src="logo.png" class="logo" style="max-width: 70px; height: auto;">
            </a>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="Preferiti/preferiti.php">Preferiti</a></li>
                <li><a href="Recensioni/index.php">Recensioni</a></li>
                <li id="profiloLink">
                    <a href="<?php echo $isLoggedIn ? 'Profilo/profilo.php' : 'javascript:void(0);'; ?>" <?php echo $isLoggedIn ? '' : 'onclick="redirectToLogin();"'; ?>>
                        Profilo
                    </a>
                </li>
            </ul>
        </div>
    
        <!-------------  HEADER MOBILE  ------------->
        <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
            <ul class="mobile-menu">
                <li><a href="">HOME</a></li>
                <li><a href="Preferiti/preferiti.php">PREFERITI</a></li>
                <li><a href="Recensioni/index.php">RECENSIONI</a></li>
                <li id="profiloLinkMobile">
                    <a href="<?php echo $isLoggedIn ? 'Profilo/profilo.php' : 'javascript:void(0);'; ?>" <?php echo $isLoggedIn ? '' : 'onclick="redirectToLogin();"'; ?>>
                    PROFILO
                    </a>
                </li>
            </ul>
        </div>  
        </div>
    </header>  

    <div class="banner">            <!-------------  BANNER HOME  ------------->
        <div class="content">
            <h1>SÌ, VIAGGIARE</h1>
            <p>Il sito perfetto per scegliere la tua prossima meta in Italia,<br id="br-desk"> registrati per saperne di più</p>
            <div>
                <button id="vai-cartina" onclick="scrollToMap()"><span></span>VAI ALLA CARTINA</button>
                <button id="vai-regioni" onclick="scrollToMap()"><span></span>VAI ALLE REGIONI</button>
                <button type="button" <?php echo $subscribeButtonStyle; ?> onclick="apriFinestra('Form/registrazione/index.html')"><span></span>ISCRIVITI</button>
            </div>
        </div>
    </div>