<br><br><br><br>
<h1><%= @nursery.name %></h1>
<p><strong>Location:</strong> <%= @nursery.location %></p>
<p><strong>Description:</strong> <%= @nursery.description %></p>

<%= link_to 'Torna alla lista dei vivai', nurseries_path %>
