<h1><%= @nursery.name %></h1>
<p><strong>Location:</strong> <%= @nursery.location %></p>
<p><strong>Description:</strong> <%= @nursery.description %></p>
CIAO
<%= link_to 'Back to Nurseries', nurseries_path %>
