<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  <div class="container">
    <div class="logo">
      <img src="<%= asset_path 'logo.jpeg' %>" alt="Logo">
    </div>
    <form action="/login" method="post">
      <div class="input-group">
        <input type="email" name="email" placeholder="Email" required>
      </div>
      <div class="input-group">
        <input type="password" name="password" placeholder="Password" required>
      </div>
      <button type="submit" class="button">Login</button>
      <div>
        <a href="/register" class="link">Clicca qui per registrarti</a>
      </div>
    </form>
  </div>
</body>
</html>
