/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/


 @import "bootstrap/scss/bootstrap";

 /* CSS GENERALI */
 html, body {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
 }
 
 body {
   background-color: #dbdbdb;
   color: rgb(0, 0, 0);
   font-family: "EB Garamond", serif;
 }
 
 a.btn-outline-light {
   color: white;
   border-color: white;
 }
 
 a.btn-outline-light:hover {
   background-color: white;
   color: #343a40;
 }
 
 /* INIZIO NAVBAR */
 .navbar-custom {
   background-color: #134509;
   padding: 10px 20px;
   height: 80px;
   display: flex;
   align-items: center;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1000;
 }
 
 .navbar-brand {
   display: flex;
   align-items: center;
   margin-right: auto;
   border: 1px solid #134509;
   border-radius: 5px;
 }
 
 .navbar-brand img {
   height: 90px;
   width: auto;
 }
 
 .navbar-nav {
   display: flex;
   flex-direction: row;
   margin-left: auto;
 }
 
 .nav-buttons {
   display: flex;
   flex-direction: row;
   margin-right: 4%;
 }
 
 .nav-link {
   color: #ffffff !important;
   padding: 24px 40px;
   border-radius: 15px;
   text-transform: uppercase;
   margin-right: 10%;
   background-color: #218838;
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
 }
 
 .nav-link:hover {
   background-color: #1e7e34;
 }
 
 .navbar-toggler {
   border: none;
 }
 
 /* Aggiungi padding alla parte superiore del contenuto per evitare che venga nascosto sotto la navbar fissa */
 .content {
   padding-top: 0;
 }
 
 /* FINE NAVBAR */
 
 /* INIZIO FINESTRA MODALE */
 .modal-dialog {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   margin-top: -60%;
   z-index: 1050;
 }
 
 .modal-content {
   border-radius: 12px;
   box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
   overflow: hidden;
   background-color: #ffffff;
   width: 40%;
   height: auto;
   max-height: 80vh;
 }
 
 .modal-header {
   border-bottom: none;
   position: relative;
   padding: 1rem;
 }
 
 .modal-header .close {
   position: absolute;
   top: 0;
   right: 0;
   font-size: 2rem;
   color: #1e7e34;
   background: none;
   border: none;
   padding: 0.5rem;
 }
 
 .modal-title {
   font-size: 3rem;
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
   color: #1e7e34;
   text-align: center;
   margin-bottom: 1rem;
 }
 
 .modal-body {
   text-align: center;
 }
 
 .form-control {
   border-radius: 10px;
   padding: 1.5rem;
   font-size: 1.5rem;
   margin-bottom: 1.5rem;
   color: #1e7e34;
   border: 1px solid #1e7e34;
 }
 
 .form-group label {
   color: #1e7e34;
   font-size: 1.5rem;
   margin-bottom: 1%;
 }
 
 .btn-primary {
   margin-top: 2rem;
   background-color: #1e7e34;
   border-color: #1e7e34;
   color: #ffffff;
   font-size: 1.5rem;
   padding: 1rem 2rem;
   margin-bottom: 5%;
   border-radius: 10px;
 }
 
 .btn-primary:hover {
   background-color: #155d27;
   border-color: #155d27;
 }
 
 .modal-backdrop {
   background-color: rgba(0, 0, 0, 0.8);
 }
 
 .modal-backdrop.show {
   backdrop-filter: blur(5px);
   opacity: 1;
 }
 
 /* FINE FINESTRA MODALE */


/* Other styles... */

.section-link, .section-link:hover, .section-link:focus {
  background-color: inherit;
  text-decoration: none;
}

.section, .section:hover, .section:focus, 
.section-title, .section-title:hover, .section-title:focus, 
.section-content, .section-content:hover, .section-content:focus, 
.section-image, .section-image:hover, .section-image:focus, 
.section-description, .section-description:hover, .section-description:focus {
  background-color: inherit;
  text-decoration: none;
}
