/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap/scss/bootstrap";

/* CSS GENERALI */

body {
  background-color: #314f2cc9;
  color: white;
  font-family: "EB Garamond", serif;
}

a.btn-outline-light {
  color: white;
  border-color: white;
}

a.btn-outline-light:hover {
  background-color: white;
  color: #343a40;
}

/* INIZIO NAVBAR */
.navbar-custom {
  background-color: #134509; /* Verde principale per la navbar */
  padding: 10px 20px; /* Aggiungi padding sopra e sotto la navbar */
  height: 80px; /* Imposta un'altezza fissa per la navbar */
  display: flex; /* Usa flexbox per centrare il contenuto verticalmente */
  align-items: center; /* Allinea il contenuto verticalmente al centro */
  width: 100%; /* Assicurati che la navbar occupi tutta la larghezza della pagina */
  position: fixed; /* Fissa la navbar in cima alla pagina */
  top: 0; /* Posiziona la navbar in cima */
  left: 0; /* Assicurati che la navbar inizi dal bordo sinistro */
  z-index: 1000; /* Assicurati che la navbar sia sopra altri elementi */
}

.navbar-brand {
  display: flex; /* Usa flexbox per centrare l'immagine verticalmente */
  align-items: center; /* Allinea l'immagine verticalmente al centro */
  margin-right: auto; /* Allinea il brand a sinistra */
  border: 1px solid #134509; /* Bordo verde scuro intorno all'immagine */
  border-radius: 5px; /* Bordo arrotondato per il bordo */
}

.navbar-brand img {
  height: 90px; /* Imposta un'altezza fissa per l'immagine del logo */
  width: auto; /* Mantieni le proporzioni dell'immagine */
}

.navbar-nav {
  display: flex; /* Usa flexbox per allineare orizzontalmente */
  flex-direction: row; /* Imposta la direzione orizzontale */
  margin-left: auto; /* Allinea i bottoni a destra */
}

.nav-buttons {
  display: flex; /* Usa flexbox per allineare orizzontalmente */
  flex-direction: row; /* Imposta la direzione orizzontale */
  margin-right: 4%; /* Spazio a destra dei bottoni */
}

.nav-link {
  color: #ffffff !important; /* Colore del testo bianco per i link */
  padding: 24px 40px; /* Aggiungi padding ai bottoni per maggiore spazio */
  border-radius: 15px; /* Bordo arrotondato per il bottone */
  text-transform: uppercase; /* Maiuscole per il testo */
  margin-right: 10%; /* Distanza tra i bottoni */
  background-color: #218838; /* Colore verde scuro per i bottoni */
  display: flex; /* Usa flexbox per centrare il testo */
  align-items: center; /* Allinea il testo verticalmente */
  justify-content: center; /* Allinea il testo orizzontalmente */
  text-decoration: none; /* Rimuovi sottolineatura */
}

.nav-link:hover {
  background-color: #1e7e34; /* Colore verde ancora più scuro per hover */
}

.navbar-toggler {
  border: none; /* Rimuovi il bordo del toggler */
}

/* Aggiungi padding alla parte superiore del contenuto per evitare che venga nascosto sotto la navbar fissa */
.content {
  padding-top: 80px; /* Aggiusta questo valore se necessario */
}

/* FINE NAVBAR */

