/* Banner Home */
.banner-home {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('home.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}

.content {
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 120px;
    margin: 0;
    color: #ffffff;
    transition: transform 0.3s;
    margin-bottom: 10%;
}

.content h1:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
}

.description {
    font-size: 1.5rem;
    line-height: 1.6;
    margin: 20px 0;
    font-family: 'Arial', sans-serif;
    max-width: 800px;
    margin: 20px auto;
}

.description-separator {
    margin-top: 40px;
}

@media (max-width: 1400px) {
    .content h1 {
        font-size: 4rem;
    }
    .description {
        font-size: 1.4rem;
    }
}

@media (max-width: 1080px) {
    .content h1 {
        font-size: 3rem;
    }
    .description {
        font-size: 1.3rem;
    }
}

@media (max-width: 700px) {
    .content h1 {
        font-size: 2rem;
    }
    .description {
        font-size: 1.2rem;
    }
}

/* Video Background */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

/* Dark Overlay */
.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity to make it darker or lighter */
    z-index: 1;
}

/* Content Sections */
.content-sections {
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Aggiungi spazio tra il banner e la prima sezione */
    padding-bottom: 20px; /* Aggiungi spazio tra l'ultima sezione e il footer */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.section {
    margin-bottom: 40px;
    width: 80%;
}

.section:hover {
    transform: scale(1.2);
    transition: 0.2s;
}

.section-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.section-title {
    color: #00d632;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px;
    font-style: italic;
}

.section-content {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    text-align: center;
}

.section-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
}

.section-description {
    flex: 1;
    color: #ffffff;
    font-size: 1.7em;
    margin: 0;
    text-align: center;
    max-width: 65%;
    line-height: 1.6; /* Aggiungi questa proprietà per aumentare lo spazio tra le righe */
    padding: 10px 0; /* Aggiungi padding per più spazio verticale tra paragrafi */
}

/* Divider style */
.home-divider-thin {
    width: 65%;
    height: 2px;
    background-color: #00d632;//#00ffae;
    border-radius: 1px;
    margin: 0 auto 40px;
    margin-top: 20px;
}

/* Footer styles */
.footer {
    width: 100%;
    height: 20vh;
    background-color: #00422d;//#1e3b32;
    color: #fff;
    text-align: center;
    padding: 40px 0;
    position: relative;
    bottom: 0;
    left: 0;
}

.footer footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.footer .copyright {
    margin-bottom: 20px;
    font-size: 20px;
}

.footer .social {
    display: flex;
    gap: 40px;
    font-size: 24px;
}

.footer .social a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.footer .social a:hover {
    transform: scale(1.2);
    transition: 0.2s;
}

.footer .social a i {
    margin-right: 12px;
}

.footer footer > * {
    margin: 0 10px;
}

/* About Container */
.about-container {
    margin-top: 4%;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.about-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #1e3b32;
}

.about-container p {
    text-align: left;
    font-size: 1.25em;
    line-height: 1.6;
    color: #000000;
    padding: 10px;
}

@media (max-width: 768px) {
    .about-container {
        padding: 10px;
    }

    .about-container h1 {
        font-size: 2em;
    }

    .about-container p {
        font-size: 1em;
    }
}
