.banner-home {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), image-url('home.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0; /* Assicurati che non ci sia margine superiore */
    padding-top: 0; /* Assicurati che non ci sia padding superiore */
}

.content {
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 120px;
    margin: 0;
    color: #ffffff;
    transition: transform 0.3s;
    margin-bottom: 10%;
}

.content h1:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
}

@media (max-width: 1400px) {
    .content h1 {
        font-size: 90px;
    }
}
@media (max-width: 1080px) {
    .content h1 {
        font-size: 60px;
    }
}
@media (max-width: 700px) {
    .content h1 {
        font-size: 40px;
    }
}

/* Styles for the sections below the banner */

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the sections horizontally */
    margin-top: 80px;
}

.section {
    margin-bottom: 40px;
    width: 150%;
}

.section-link {
    text-decoration: none;
    color: inherit;
    display: block; /* Ensures the entire section is clickable */
}

.section-title {
    color: #1e3b32;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.section-content {
    display: flex;
    align-items: center;
    gap: 20px; /* Add space between the image and description */
}

.section-image {
    width: 150px;
    height: auto;
    margin: 0; /* Ensure no extra margin */
}

.section-description {
    flex: 1;
    color: #000000;
    margin: 0; /* Ensure no extra margin */
    text-align: left; /* Align text to the left */
}

/* Divider style */

.home-divider-thin {
    width: 100%;
    height: 2px;
    background-color: #1e3b32;
    border-radius: 1px;
    margin: 0 auto 40px;
    margin-top: 20px;
}

/* Footer styles */

.footer {
    width: 100%;
    height: 20vh;
    background-color: #1e3b32;
    color: #fff;
    text-align: center;
    padding: 40px 0; /* Aumenta il padding per aumentare l'altezza del contenuto */
    position: relative;
    bottom: 0;
    left: 0;
}

.footer footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%; /* Assicura che il footer interno occupi tutta l'altezza disponibile */
}

.footer .copyright {
    margin-bottom: 20px; /* Aumenta lo spazio sotto il copyright */
    font-size: 20px; /* Aumenta la dimensione del carattere */
}

.footer .social {
    display: flex;
    gap: 40px; /* Aumenta lo spazio tra le icone social */
    font-size: 24px; /* Aumenta la dimensione del carattere */
}

.footer .social a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.footer .social a i {
    margin-right: 12px; /* Aumenta lo spazio tra l'icona e il testo */
}

/* Aggiungi un po' di margine intorno alle sezioni di contenuto del footer */
.footer footer > * {
    margin: 0 10px;
}



.about-container {
    margin-top: 4%;
    padding: 20px;
    background-color: #f4f4f4; /* Colore di sfondo leggero per contrasto */
    border-radius: 10px; /* Arrotondare gli angoli */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aggiungere un'ombra leggera */
    max-width: 800px; /* Limita la larghezza massima */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.about-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #1e3b32; /* Colore del titolo */
}

.about-container p {
    font-size: 1.25em;
    line-height: 1.6; /* Aumentare l'interlinea per migliorare la leggibilità */
    color: #333; /* Colore del testo */
    padding: 10px;
}

@media (max-width: 768px) {
    .about-container {
        padding: 10px;
    }

    .about-container h1 {
        font-size: 2em;
    }

    .about-container p {
        font-size: 1em;
    }
}
