.profile-container {
  text-align: center;
  padding: 20px;
  background-color: #f0f8ff;
  margin-top: 3%;
  margin-bottom: 3%;
  height: 80%;
  width: 60%;
  border-radius: 15px;
  border: 6px solid #004d00; // Verde scuro
}

.welcome-message {
  color: #004d00; // Verde scuro
  font-size: 40px;
  margin-bottom: 5%;
}

.profile-table {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  border: 4px solid #ffffff; // Verde scuro, raddoppiato
  border-radius: 15px; // Raddoppiato rispetto al bordo precedente
}

.profile-table table {
  width: 100%;
  border-collapse: collapse;
}

.profile-table th, .profile-table td {
  padding: 20px; // Raddoppiato rispetto al padding precedente
  border: 2px solid #ffffff; // Verde scuro, raddoppiato
  border-radius: 15px;
}

.profile-table th {
  background-color: inherit; // Colore di sfondo chiaro
  color: #ffffff; // Verde scuro
  font-size: 18px; // Aumenta la dimensione del testo se necessario
}

.profile-table td {
  color: #ffffff; // Verde scuro
  font-size: 18px; // Aumenta la dimensione del testo se necessario
}

.separator {
  border: none;
  border-top: 4px solid #004d00; // Linea verde scura
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.plant-message {
  color: #004d00; // Verde scuro
  font-size: 30px; // Dimensione del testo
  margin-bottom: 4%;
}

.plant-panels {
  display: flex;
  justify-content: center;
  gap: 1%; // Spazio tra i pannelli
}

.plant-panel {
  width: 250px;
  height: 220px;
  background-color: inherit; // Colore di sfondo chiaro
  border: 2px solid #004d00; // Verde scuro
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 3%;
  margin-right: 3%;
}

.plant-name {
  color: #004d00; // Verde scuro
  font-size: 14px;
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.logout-button {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Stile per i link che devono sembrare bottoni */
.lo-button {
  display: inline-flex; /* Imposta il display per utilizzare Flexbox */
  width: auto; /* Imposta la larghezza automatica per adattarsi al contenuto */
  background-color: #006400; /* Colore di sfondo del bottone */
  color: white; /* Colore del testo */
  border: none; /* Rimuove il bordo predefinito */
  padding: 20px; /* Padding verticale per centrare il testo */
  border-radius: 20px; /* Angoli arrotondati */
  cursor: pointer; /* Cambia il cursore in una mano */
  font-size: 30px; /* Dimensione del testo */
  text-align: center; /* Allinea il testo al centro */
  align-items: center; /* Centra verticalmente il testo */
  justify-content: center; /* Centra orizzontalmente il testo */
  text-decoration: none; /* Rimuove la sottolineatura per i link */
  margin-top: 4%; /* Margine superiore */
  margin-bottom: 2%; /* Margine inferiore */
}

/* Stile per il bottone quando è in hover */
.lo-button:hover {
  background-color: #004d00; /* Colore di sfondo del bottone in hover */
}

/* Stili per la modifica del profilo */
#profile-edit .input-group {
  margin-bottom: 10px;
}

#profile-edit .form-label {
  color: #004d00; /* Verde scuro */
  font-size: 20px; /* Dimensione del testo */
  display: block;
  margin-bottom: 5px;
  text-align: center; /* Allinea il testo al centro */
  margin-right: 2%;
}

#profile-edit input[type="text"], #profile-edit input[type="password"] {
  width: 35%;
  padding: 8px;
  font-size: 15px;
}

#profile-edit .checkbox-container {
  margin-top: 2%;
  margin-left:30%;
}

#profile-edit .checkbox-label {
  color: #004d00; /* Colore del testo dell'etichetta */
  font-size: 20px; /* Dimensione del testo */
  margin-right: 2%;
}

.alert {
  color: #ff0000; /* Rosso per gli errori */
  font-size: 20px;
  margin: 10px 0;
}

.alert-danger {
  border: 1px solid #ff0000;
  background-color: #fdd;
  padding: 10px;
  border-radius: 5px;
}

.has-error input {
  border-color: #ff0000; /* Colore rosso per i bordi in caso di errore */
}


.form-group {
  margin-bottom: 20px;
}

.label {
  color: #004d00;
  font-size: 20px;
  margin-right: 2%;
  text-align: right;
  display: inline-block;
}

.form-control {
  padding: 10px;
  border: 1px solid #004d00;
  border-radius: 5px;
  font-size: 16px;
  width: calc(100% - 60px);
}

.checkbox-container {
  margin-bottom: 20px;
}

.checkbox-label {
  color: #004d00;
  font-size: 20px;
}

/* Stile per il bottone di modifica profilo */
.edit-button #edit-profile-button {
  background-color: #006400; /* Verde scuro */
  color: white;
  border: none;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 30px; /* Dimensione del testo */
}

.edit-button #edit-profile-button:hover {
  background-color: #004d00; /* Verde più scuro */
}

