.nurseries {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('sfondo-vivai.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.spacer-large {
  height: 100px;
}

.nursery-title {
  text-align: center;
  font-size: 5em;
  color: white;
  margin: 0;
}

.nursery-search-instruction {
  text-align: center;
  font-size: 1.5em;
  padding: 20px;
  color: white;
}

.nursery-search-failure {
  text-align: center;
  margin: 30px auto;
  padding: 20px;
  font-size: 1.6em;
  color: #134509;
  border: 2px solid #134509;
  border-radius: 10px;
  display: inline-block;
}

.nursery-search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 10px;
}

.nursery-search-bar {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 1.2em;
  border: 2px solid #00422d;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.nursery-search-bar:focus {
  border-color: #134509;
  box-shadow: 0 2px 8px rgba(19, 69, 9, 0.2);
}

.nursery-search-form input[type="submit"] {
  background-color: #134509;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  margin-left: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.nursery-search-form input[type="submit"]:hover {
  background-color: #0a3b00;
  transform: scale(1.05);
}

#map-container {
  margin: 20px auto;
  max-width: 600px;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

#map {
  height: 300px;
  width: 100%;
  border-radius: 10px;
}

.nurseries-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 2% auto;
  max-width: 1200px;
  width: 100%;
}

.nursery-box {
  border: 3px solid #134509;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  box-sizing: border-box;
  min-height: 300px; 
  width: calc(33.333% - 20px); 
}

.nurseries-container.single-item .nursery-box {
  width: 100%; 
}

.nursery-box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.nursery-box h3 {
  margin: 15px 0 10px;
  font-size: 2em;
  color: #134509;
}

.nursery-box p {
  margin: 0;
  font-size: 1.5em;
  color: #134509;
}

.nursery-box:hover {
  transform: scale(1.05);
}

.nursery-box a {
  text-decoration: none;
  color: white !important;
}


@media (min-width: 1024px) {
  .nurseries-container .nursery-box {
    width: calc(33.333% - 20px);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .nurseries-container .nursery-box {
    width: calc(50% - 20px);
  }
}

@media (max-width: 767px) {
  .nurseries-container {
    flex-direction: column;
    align-items: center;
  }
  .nurseries-container .nursery-box {
    width: 90%;
  }
  .search-form {
    margin-top: 10px;
  }
  .nursery-title {
    margin-top: 40px;
  }
}

.back-to-all {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 1.8em;
  color: white !important;
  text-decoration: none;
  background-color: #0a3b00;
  padding: 9px;
  border-radius: 10px;
  width: fit-content; 
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.back-to-all:hover {
  transform: scale(1.1);
  transition: 0.2s;
  background-color: #0a3b00;
}
