/*

.profile-container {
  text-align: center;
  padding: 20px;
  background-color: #f0f8ff;
  margin-top: 3%;
  margin-bottom: 3%;
  height: 80%;
  width: 60%;
  border-radius: 15px;
  align-items: center;
}

.welcome-message {
  color: #004d00;
  font-size: 40px;
  margin-bottom: 5%;
}

.profile-table {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  border-radius: 15px;
}

.profile-table th, .profile-table td {
  padding: 20px;
  font-size: 18px;
}

.separator {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.plant-message {
  color: #004d00;
  font-size: 30px;
  margin-bottom: 4%;
}

.logout-button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.lo-button {
  background-color: #006400;
  color: white;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 30px;
  margin-top: 4%;
  margin-bottom: 2%;
}

.lo-button:hover {
  background-color: #004d00;
}

#profile-edit .input-group {
  margin-bottom: 10px;
}

#profile-edit .form-label {
  color: #004d00;
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
  text-align: center;
}

#profile-edit input[type="text"], #profile-edit input[type="password"] {
  width: 35%;
  padding: 8px;
  font-size: 15px;
}

.checkbox-container {
  margin-top: 2%;
  margin-left: 30%;
}

.checkbox-label {
  color: #004d00;
  font-size: 20px;
  margin-right: 2%;
}

.alert {
  color: #ff0000;
  font-size: 20px;
  margin: 10px 0;
}

.alert-danger {
  border: 1px solid #ff0000;
  background-color: #fdd;
  padding: 10px;
  border-radius: 5px;
}

.has-error input {
  border-color: #ff0000;
}

.form-group {
  margin-bottom: 20px;
}

.label {
  color: #004d00;
  font-size: 20px;
  margin-right: 2%;
  text-align: right;
  display: inline-block;
}

.form-control {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  width: calc(100% - 60px);
}

.edit-button #edit-profile-button {
  background-color: #006400;
  color: white;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 30px;
}

.edit-button #edit-profile-button:hover {
  background-color: #004d00;
}

.weather-widget {
  background-color: #c6ffc6;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 30px;
  text-align: center;
  color: #000000;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.weather-widget h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.weather-widget p {
  font-size: 1.3em;
  margin: 5px 0;
}

.weather-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  vertical-align: middle;
}
*/